---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kalender">
    <main class="flex flex-col max-w-4xl mx-auto px-8">
        <h1 class="text-4xl font-extrabold mb-4 mt-8">Espens Kalenderside</h1>
        <p class="my-2">Noen kalendere kommer med masse informasjon om diverse merkedager, mens andre kommer helt uten. På denne siden finner du informasjon som kan være nyttig å føre på kalenderen din.</p>
        <p class="my-2">Velg et år fra nedtrekksmenyen under for å se aktuelle merkedager for det året.</p>
        <select name="year" id="year" class="my-4 w-3xs border border-1 px-2 py-1">
            <option value="0">--Velg år--</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
        </select>
    </main>
</Layout>

<script>
    const getElements = () => ({
        year: document.getElementById("year"),
    });

    
</script>