---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Project from "../components/Project.astro";


const projects = await getCollection("projects");
---

<Layout title="Espen Raugstad">
	<Nav active="home" />
	<section class="flex flex-col min-h-(--screen-height-with-nav)">
		<section
			class="max-w-4xl mx-auto flex md:flex-row flex-col items-center pt-8 px-8"
		>
			<img
				src="./amber_me.png"
				alt="Profilbilde av Espen Raugstad"
				width="128"
				class="my-4 w-1/2"
			/>
			<div>
				<div class="md:max-w-xl md:ml-8 max-w-sm">
					<h1 id="home" class="text-4xl font-extrabold mb-4">
						Espen Raugstad
					</h1>

					<p>
						Jeg er en webutvikler med en unik bakgrunn fra teoretisk
						fysikk, pedagogikk og læringsdesign. Med min erfaring i
						å løse komplekse problemer og formidle tekniske
						konsepter, er jeg alltid på jakt etter nye utfordringer
						der jeg kan bygge brukervennlige og tilgjengelige
						løsninger.
					</p>
				</div>
			</div>
		</section>

		<div class="h-full flex flex-col grow-1 items-center justify-center">
			<a
				href="#projects"
				class="bg-amber-400 p-4 rounded-xl font-bold mb-8"
				>Utvalgte prosjekt</a
			>
			<svg
				width="24"
				height="24"
				xmlns="http://www.w3.org/2000/svg"
				fill-rule="evenodd"
				clip-rule="evenodd"
				><path
					d="M11 21.883l-6.235-7.527-.765.644 7.521 9 7.479-9-.764-.645-6.236 7.529v-21.884h-1v21.883z"
				></path></svg
			>
		</div>
	</section>

	<section class="max-w-4xl mx-auto flex flex-col pt-8 px-8">
		<h2 id="projects" class="text-2xl scroll-m-24 font-bold mb-2">
			Projects
		</h2>
		<p>A selection of projects. Click their title to read more.</p>
		<div class="flex flex-col mx-auto gap-6 mt-6 mb-24 w-full">
			{projects.map((project) => <Project project={project} />)}
		</div>
	</section>
</Layout>

<script>
	const observerOptions = {
		root: null,
		// Adjust rootMargin to trigger when the element is below your sticky nav
		rootMargin: "-10% 0px -70% 0px",
		threshold: 0,
	};

	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				const id = entry.target.getAttribute("id");
				if (id) updateNav(id);
			}
		});
	}, observerOptions);

	// Watch BOTH home and projects sections
	document.querySelectorAll("h1[id], h2[id]").forEach((section) => {
		observer.observe(section);
	});

	function updateNav(id: string) {
		// 1. Find all nav links
		const navLinks = document.querySelectorAll("nav a");

		navLinks.forEach((link) => {
			// 2. Remove active class from everyone
			if (link.classList.contains("active")) {
				link.classList.remove("active");
			}
			// 3. Add to the one matching the current ID
			const href = link.getAttribute("href");
			console.log(href);
			if (href === `/#${id}` || (id === "home" && href === "/")) {
				link.classList.add("active");
			}
		});
	}
</script>
