---
const { active } = Astro.props;
---
<nav class="flex items-center justify-center h-24 bg-slate-50 sticky top-0 z-99">
    <ul class="flex gap-4">
        <li ><a href="/" class=`${active === "home" ? "active": ""}`>Home</a></li>
        <li ><a href="#projects" class=`${active === "projects" ? "active": ""}`>Projects</a></li>
        <li ><a href="" class=`${active === "resume" ? "active": ""}`>Resume</a> </li>
        <li ><a href="./about" class=`${active === "about" ? "active": ""}`>About</a></li>
    </ul>
</nav>

<style>
    .active{
        text-decoration: underline 5px;
        text-underline-offset: 8px;
    }
</style>